.progress-step 
  padding: 8px 40px 24px
  .tb-progress-step 
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none
    li
      position: relative
      text-align: right
      &.is-active
        z-index: 1
        &:before, &::after
          background-color: #326fe2 !important
      &:first-child
        display: flex
        justify-content: center
        transform: translateX(0)
        white-space: nowrap
      &:not(:first-child) 
          flex: 1
      &:before 
        content: ''
        position: relative
        z-index: 1
        display: inline-block
        width: 1rem
        height: 1rem
        border-radius: 999px
        background-color: #d2e0f9
      &:not(:first-child):after 
        content: ''
        position: absolute
        display: block
        top: calc((1rem / 2) - (1rem / 8))
        right: calc((1rem / 2))
        width: 100%
        height: calc(1rem / 4)
        background-color: #d2e0f9
      span
        position: absolute
        top: calc(1rem + 4px)
        display: inline-block
        width: 100%
        white-space: nowrap
        text-align: center
        color: #97a1aa
        transform: translateX(calc(-50% - (1rem / 2)))