$font: 'Roboto', 'BoonBaan' 

html, body, button, input, div, ::placeholder  
  font-family: $font 
  //font-size: 15px 

@font-face
  font-family: BoonBaan 
  src: '../fonts/BoonBaan-Regular.otf' format("truetype") 
.boonbaan-400  
  font-family: BoonBaan 
  font-weight: 400 
  font-style: normal   
@font-face  
  font-family: BoonBaan 
  src: '../fonts/BoonBaan-Bold.otf' format("truetype") 
  font-weight: 700 
  font-style: normal   
.boonbaan-700  
  font-family: BoonBaan 
  font-weight: 700 
  font-style: normal  
@font-face  
  font-family: 'roboto' 
  src: '../fonts/Roboto-Regular.ttf' format("truetype") 
  font-weight: 400 
  font-style: normal         
@font-face
  font-family: 'roboto' 
  src: '../fonts/Roboto-Bold.ttf' format("truetype") 
  font-weight: 700 
  font-style: normal 
     
  
  
  




        
    
